<label for="name">Name</label>
<input id="name" name="recipe[name]" type="text" value="<%= @recipe.name %>">
<label for="description">Description</label>
<input id="description" name="recipe[description]" type="text" value="<%= @recipe.name %>">
