<label for="name">Name</label>
<input id="name" name="recipe[name]" type="text" value="<%= @recipe.name %>">
<br>
<label for="description">Description</label>
<textarea name="recipe[description]"><%= @recipe.description %></textarea>
