<h1><%= @tag.name %></h1>

<p><a href="/tags/<%= @tag.id %>/edit">Edit this Tag</a></p>
<p><a href="/tags/<%= @tag.id %>" data-confirm="You sure?" data-method="delete" rel="nofollow">Delete this Tag</a></p>
<p><a href="/tags">Go Back</a></p>

