$background-color: #F3F3F4;
$accent-blue-lt: #0ACCEA;
$accent-blue-dk: #5F849A;
$accent-gray: #D7D7D7;
$body-text: #585858;
$font-stack: 'Open Sans', 'Helvetica', sans-serif;

body {

  font: 100% $font-stack;
  color: $body-text;
  background-color: $background-color;
}

a {
  color: $body-text;
  font-weight: 700;
}
a:hover {
  @extend a;
  color: $accent-blue-lt;
}

li {

  list-style: none;

  a {
    @extend a;
    color: $body-text;
    font-weight: 400;
  }

  a:hover {
    color: $accent-blue-lt;
  }

  a.favorite {
    @extend a;
    font-weight: 700;
  }

}

li.favorite {
  list-style: circle;
}

p.favorite_note {
  list-style: circle;
  font-weight: 700;
}

h1 {
  width: 150%;
  line-height: 40px;
  margin-left: -10px;
  padding-left: 15px;
  color: white;
  background-image:
  linear-gradient(
    to right,
    $body-text, $background-color
  );
}

